:root {
  --color-primary: #1caf57;
  --color-gray: #a3a8ad;
}

$color-primary: #1caf57;
$color-primary-1: #1caf573f;
$color-primary-2: #1caf5705;
$color-gray: #a3a8ad;

$bg-color-gray-dark: #f2f5f8;
$bg-color-gray-light: #f8f9fa;
